:root {
  --green: #6FB845;
  --white: #D9FCC5;
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
  padding: 2mm;
  display: block;
  background-color: var(--green);
}

header nav ul li {
  display: flex;
  justify-content: flex-end;
  background-color: var(--green);
}

body {
  margin: 2mm;
  padding: 2mm;
  line-height: 1.5;
}


h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

.flexbox1 {
  display: flex;
  padding: 2mm;
  margin-top: 2mm;
  display: block;
  background-color: var(--white);
}

.flexbox1 h2 {
  align-items: flex-start;
}

.flexbox1 h3 {
  align-items: flex-end;
}

.flexbox2 {
  padding: 2mm;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 20px;
}

.flexbox2-item1 {
  align-items: flex-start;
  justify-content: center;
  width: 300px;
  height: 200px;
}

#about h2 {
  align-items: flex-end;
  justify-content: flex-end;
  color: black;
}

.flexbox2-item2 {
  align-items: flex-end;
  justify-content: center;
}


.flexbox3 {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  border: 5px solid var(--green);
  padding: 5mm;
}

.flexbox3-1 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.flexbox3-2 {
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.flexbox4 {
  background-color: var(--green);
  padding: 15mm;
  margin-top: 2mm;
}

.flexbox4 #quote {
  display: flex;
  align-items: center;
}

.flexbox4 h4 {
  justify-content: flex-start;
  font-size: 30px;
}

.flexbox4 h5 {
  justify-content: flex-end;
  font-size: 25px;
}

.flexbox4 p {
  justify-content: flex-end;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.page-section-contact {
  background-color: var(--white);
  padding: 2mm;
}

#contact {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

section ul li {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.footer {
  padding: 30px;
  display: inline;
  color: var(--green);
  text-align: center;
}

footer h2 {
  font-size: 20px;
  color: black;
}

@media only screen and (max-width: 600px) {
  nav {
    display: none
  }
}